.bg-verydark {
    background-color: #191918;
}

.text-cursive {
    font-family: 'Lobster', cursive;
}

.bg-azul {
    background-color: blue;
}

.col-change-color {
    color: white!important;
}

.col-change:hover {
    color: white!important;
    background-color: green!important;
}